KAFKA_BOOTSTRAP_SERVERS="SSL://kafka-1:9092,SSL://kafka-2:9092,SSL://kafka-3:9092"
ZOOKEEPER=
KAFKA_CONNECT_ADVERTISED_HOSTNAME=
KAFKA_CONNECT_SECURITY_PROTOCOL=SSL
KAFKA_CONNECT_SSL_TRUSTSTORE_LOCATION=
GOOGLE_APPLICATION_CREDENTIALS_PATH=
KAFKA_HEAP_OPTS=-Xms256m -Xmx768m
